body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: ivory;
}

#navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navBar li {
  display: inline;
}

#navBar a {
  margin-left: 75px;
  margin-right: 75px;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

img {
  float: left;
  margin-right: 15px;
}

.left {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.center {
  float: left;
  width: 300px;
  margin-right: 20px;
}
.right {
  float: left;
  width: 300px;
  margin-right: 20px;
}


